html {
  	height: 100%;
  	margin: 0em;
 	font-size: 16px;

}

body::after{
	content: "";
	position: fixed;
	top:0;
    height:100vh;
    left:0;
    right:0;
    z-index:-1;
	background-image: url('../images/main/snare.jpeg');
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 52%;
	background-position-x: 50%;
	background-position-y: 52%;
	background-repeat: no-repeat;
	margin:0px;
}

article{
	background-color: #000000;
	width: 100%;
	margin-bottom: 2em;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	align-content: left;
}

h1{
	font-size: 2.3rem;
	font-weight: normal;
	color: #BAB9B9;
	font-family: 'Open Sans', sans-serif;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 0px;
	margin-top: 10px;
	padding: 0px;
	
}

h2{
	font-size:2rem;
	color:rgb(255, 252, 252);
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-weight: 700;
	margin-top: 0px;
}

h3{
	font-size:1.75rem;
	color:rgb(255, 252, 252);
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-left: 5px;
	font-weight: 600;
}

h4{
	font-size:1.50rem;
	color:rgb(255, 252, 252);
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	margin-bottom: -.8em;
	margin-left: 0px;
	padding:0px;
	font-weight: 600;
}

h5{
	font-size: 1.50rem;
	color:rgb(255, 252, 252);
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	margin-top: 15px;
	margin-bottom: 0px;
	margin-left: 5px;
	font-weight: 600;
}


p{
	font-size: 1.3rem;
	color: #DDDBDB;
	font-family: 'Open Sans', sans-serif;
	margin: 0%;
	margin-top: 1em;
	margin-bottom: 0em;
	padding: 0px;
	line-height: 1.6;
	
}

b{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #DDDBDB;
}

a{
	text-decoration: none;
	font-size: 1.3rem;
	color: #FFE000;
	font-family: 'Open Sans', sans-serif;
}

hr{
	margin-top: 1em;
	margin-bottom: 0px;
}

sup{
	font-variant: small-caps;
	font-size: .5em;
}


figure{
	max-width:100%;
	display:block;
	vertical-align: top;
	padding: 0em;
	margin:5%;
}

figcaption{
	color: #DDDBDB;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	font-style: italic;
	text-align: center;
	padding: .5em;
}

img{
	max-width:100%;
	height: auto;
}

video {
	margin-top: 1em;
	max-width: 100%;
	height: auto;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

ul{
	margin-top: 0px;
	margin-bottom: 0px;
}



thead {
	color:white;
}

tbody {
	color:white;

}


table
{
	table-layout: auto;
	width: 100%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	
}

td
{
	font-size: 1.3rem;
	border-collapse: collapse;
	border:2.5px solid grey;
	padding: 15px;
	text-align: center;
}

th:hover{
	cursor:pointer;
	background:#AAA;
	transition: 0.3s;
}

th
{
	font-size: 1.3rem;
	font-weight: bold;
	border-collapse: collapse;
	border:2.5px solid grey;
	padding: 15px;
	text-align: center;
}

iframe
{
	border: 0;
	scroll;
	display:block;
}

header{
	background-color: rgb(0, 0, 0);
	width: 100%;
	max-height: 100 px;
	margin: 0%;
	margin-top: 3%;
	margin-bottom: 0%;
	
}

li{
	font-size:1.2rem;
	color:rgb(255, 252, 252);
	font-family: 'Open Sans', sans-serif;
}

input[type=text] 
{
	font-family: 'Open Sans', sans-serif;
	padding:5px;
	vertical-align: middle;
}

input{
	margin-left: 0px;
}

form{
	margin-left: 0px;
}

button
{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

audio{
	margin-top: 25px;
}

#wrapper{
	width:100%;
	max-width:1080px;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom: .5em;
}

#title
{
	margin-left: 0px;
	margin-right: 0px;
}

#summary-image{
	text-align: center;
	margin-right: 0px;
	margin-bottom: -12px;
}


#search-results
{
	margin-left: 20px;
	margin-right: 0px;
}

#quote{
	margin-left: 0px;
	margin-right: 0px;
}

#search-button
{
	background-color: rgb(56, 56, 56);
	border: solid;
	border-color: rgb(56, 56, 56);
	border-radius: 1px;
	color: white;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}

#load{
	display: block;
	max-width: 300px;
	margin: auto;
	margin-bottom: 15px;
	background-color: #000000;
	border-style: solid;
	border-color: #737373;
	color: #FFF300;
	padding: 15px 32px;
	text-align: center;
	font-size: 1.2em;
	transition: 0.3s;
}

#load:hover {
	background-color: #737373;
	color: #FFF300;
	cursor:pointer;

}

.img-text {
	width: 100%;
	padding:0%;
	margin-top: 0em;
	position: relative;
	text-align: center;
	color: white;
}


.top-left 
{
	font-size: 2.8rem;
	top: 1px;
	left: 20px;
	font-family: 'Open Sans', sans-serif;
	position: absolute;
}

.welcome-text{
	font-size:1.3rem;
	color: #DDDBDB;
	font-family: 'Open Sans', sans-serif;
	margin: 0%;
	margin-top: 0em;
	margin-bottom: 0em;
	padding: 0px;
	line-height: 1.6;

}

.top-paragraph{
	font-size: 1.3rem;
	color: #DDDBDB;
	font-family: 'Open Sans', sans-serif;
	margin: 0%;
	margin-top: -5px;
	margin-bottom: 0em;
	padding: 0px;
	line-height: 1.6;
	
}

.tags{
	font-size: 1.3rem;
	color: #DDDBDB;
	font-family: 'Open Sans', sans-serif;
	margin: 0%;
	margin-top: 0em;
	margin-bottom: .5em;
	padding: 0px;
	line-height: 1.6;
}


.js-sort-table{
	border-collapse: collapse;	
	font-size: 1.2em;
	color:rgb(255, 252, 252);
	font-family: 'Open Sans', sans-serif;
}


.table{
  	overflow-x: scroll;
  	text-align: center;

}

.menu{
	text-align: center;
	background-color: #000000;
	font-size: 1.3rem;
	width: 100%;
	color:rgb(255, 255, 255);
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 3%;
	margin-top: 3%;
	padding: .8em;
	line-height: 1.6;
	box-sizing: border-box;
}

.full-row{
	background-color: #383838;
	width: 100%;
	margin: 15px;
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: .8em;
	overflow-x: scroll;

}

.full-row-blog{
	background-color: rgb(56, 56, 56);
	width: 100%;
	height: auto;
	margin: 15px;
	padding-top: 5px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	box-sizing: border-box;
	display:none;
	overflow: auto;
}

.full-row-bottom{
	background-color: #000000;
	width: 100%;
}

.full-row-bottom p{
	text-align: center;
	margin-left: .6em;
	margin-bottom: 1em;
	margin-top: 1em;
}

.copyright::after
{
	content: "\00A9 2021 Benjamin Waterson";
	color: #DDDBDB;
	margin-bottom: 0px;
}

.blog-header
{
	font-size:2.2em;
	color: #DDDBDB;
	font-family: 'Open Sans', sans-serif;
	margin:0px;
	margin-top: 3px;
	padding: 0px;

}

.date{
	font-size:1.3rem;
	color: #DDDBDB;
	font-family: 'Open Sans', sans-serif;
	margin: 0%;
	margin-top: 0em;
	margin-bottom: 1em;
	padding: 0px;
	line-height: 1.6;
}

.block-quote{
	text-align:left;
	margin-right: 5%;
	margin-left: 5%;
}

.socials{
	margin-top: 1em;
	display: grid;
	justify-items: center;
}

.centered-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: -10px;
}

.centered-image-bottom{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.centered-text{
	text-align: center;
	font-size: 1.3rem;
	color: #DDDBDB;
	font-family: 'Open Sans', sans-serif;
	margin: 0%;
	margin-top: 1em;
	margin-bottom: 0em;
	padding: 0px;
	line-height: 1.6;
}

.small-caps{
	font-variant: small-caps;
	display: inline;
}

.word-break
{
	word-break: break-all;
}

.video-responsive{
	margin-top: .8em;
	margin-bottom: -0.5em;
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}
.video-responsive iframe{
	left:0;
	top:0;
	bottom: 0;
	height:100%;
	width:100%;
	position:absolute;
}

.video-responsive-p5{
	overflow:hidden;
	padding-bottom:46.25%;
	position:relative;
	height:0;
}

.video-responsive-p5 iframe{
	left:0;
	top:0;
	bottom: 0;
	height:100%;
	width:100%;
	position:absolute;
	align-items: center;
}



.responsive-image {
	max-width: 100%;
}

.container{
	text-align: center;
	display: block;

}

.gallery-poster {
	display:inline-block;
	margin-bottom: 0em;
	max-width: 500px; 
	width: 100%;
}

figcaption.poster-caption {
	color: #DDDBDB;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3rem;
	font-style: normal;
	text-align: left;
	padding:0em;
	margin-top: .2em;
	margin-bottom: .5em;

}

.gallery-landscape
{
	display:inline-block;
	margin-bottom: 25px;
	max-width: 500px; 

}

.gallery-portrait
{
	display:inline-block;
	margin-bottom: 15px;
	max-width: 500px; 

}


.gallery-landscape img {
	height: 100%;
	width: 100%;
}

figcaption.gallery-caption{
	color: #DDDBDB;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3rem;
	font-style: normal;
	text-align: center;
	padding:0em;
	margin-top: .2em;
	margin-bottom: .5em;

}

.selected{
	text-decoration: none;
	font-size: 1.3rem;
	color: #DDDBDB;
	font-family: 'Open Sans', sans-serif;
	border-bottom: 2px solid;
	border-bottom-color: #DDDBDB;
}

.fa-envelope, .fa-file-text, .fa-facebook, .fa-instagram, .fa-twitter, .fa-linkedin, .fa-youtube, .fa-reddit, .fa-github
{
	color: #FFE000;
	font-size: 50px;
	text-decoration: none;
}

.socials
{
	margin-top: 2%;
	margin-bottom: 2%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-row-gap: 25px;
	justify-content: space-around;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	font-size:1.2em;
	color:rgb(165, 165, 165);
	font-family: 'Open Sans', sans-serif;
	visibility: hidden;
	width: 120px;
	background-color: #000000;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #000000 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

@media screen and (orientation: portrait)
{
	html
	{
 	padding-top: max(5px, env(safe-area-inset-top));
 	padding-bottom: max(5px, env(safe-area-inset-bottom));
 	}
}

@media screen and (orientation: landscape)
{
	html
	{
	padding-right: max(5px, env(safe-area-inset-right));
 	padding-left: max(5px, env(safe-area-inset-left));
	padding-top: max(5px, env(safe-area-inset-top));
 	padding-bottom: max(5px, env(safe-area-inset-bottom));
 	}
}

@media screen and (max-width: 750px) 
{
	div.top-left 
	{
		font-size: 6vw;
		top: .5em;
		left: .5em;
	}
}

@media screen and (max-width: 500px) {

	html{
		font-size: 1.2vw;
	}

	h1{
	font-size: 7.2rem;

	
}

h2{
	font-size:7rem;
}

h3{
	font-size:5rem;

}

h4{
	font-size: 5rem;
	
}

h5{
	font-size: 1.50rem;
}

a{
	font-size: 4rem;
	
}


p{
	font-size: 4rem;
	
}

hr{
	margin-top: 3em;
	margin-bottom: 0px;
}

td
{
	font-size: 4rem;
}

th
{
	font-size: 4rem;
}

#load{
	font-size: 4rem;
}

.menu{
	font-size: 4rem;

	
}

.welcome-text{
	font-size: 4.5rem;
	margin-top: -.5em;
	margin-bottom: 1em;


}

.selected{
	font-size: 4rem;

}

.tooltip .tooltiptext {
	font-size:4em;

}

.blog-header
{
	font-size: 7rem;
	

}

.date{
	font-size: 4rem;
}

.top-paragraph{
	font-size: 4rem;
	}

.centered-text{
	font-size: 4.8rem;
}

figcaption.poster-caption {
	font-size: 4rem;


}

figcaption.gallery-caption{


	font-size: 4rem;


}


}


