body{
  	background-image: url('../images/main/snare.jpeg');
  	background-size: cover;
	background-attachment: fixed;
	margin:0px;
	padding: 0;
	font-size:1em;
}

li{
	font-size:1em;
	color:rgb(255, 252, 252);
	font-family: 'Nunito', sans-serif;
}

input[type=text] 
{
	font-family: 'Nunito', sans-serif;
	padding:5px;
	vertical-align: middle;
}

button
{
	font-family: 'Nunito', sans-serif;
	text-align: center;
}

#search-button
{
background-color: rgb(56, 56, 56);
  border: solid;
  border-color: rgb(56, 56, 56);
  border-radius: 1px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

#wrapper{
	width:100%;
	max-width:960px;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	display:flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	align-content: left;
}

.img-text {
  position: relative;
  text-align: center;
  color: white;
}

@media screen and (min-width: 751px) 
{
  div.top-left 
  {
    font-size: 40px;
  }
}

@media screen and (max-width: 750px) 
{
  div.top-left 
  {
    font-size: 10px;
  }
}

.top-left {
  font-family: 'Nunito', sans-serif;
  position: absolute;
  top: 20px;
  left: 40px;
}

#grid-container{
display: grid;
grid-template-columns: repeat(2, 1fr); 
grid-template-rows: repeat(3, 400px);
}

.js-sort-table{
	font-size:1em;
	color:rgb(255, 252, 252);
	font-family: 'Nunito', sans-serif;
	margin-left: auto;
  	margin-right: auto;
}

#load{
display: block;
max-width: 300px;
margin: auto;
margin-bottom: 15px;
background-color: #000000;
border-style: solid;
border-color: #737373;
color: #FFF300;
padding: 15px 32px;
text-align: center;
font-size: 16px;
transition: 0.3s;
}

#load:hover {
  background-color: #737373;
  color: #FFF300;
  cursor:pointer;

}

thead {color:white;}
tbody {color:white;}
tfoot {color:red;}
table
{
border-collapse: collapse;
border:2.5px solid grey;
padding: 15px;
  text-align: center;
}
td
{
border-collapse: collapse;
border:2.5px solid grey;
padding: 15px;
  text-align: center;
}

th:hover{
    cursor:pointer;
    background:#AAA;
    transition: 0.3s;
}

th
{
	font-weight: bold;
	border-collapse: collapse;
	border:2.5px solid grey;
	padding: 15px;
  	text-align: center;
}

iframe
{
	border: 0;
	scroll
}

header{
	background-color: rgb(0, 0, 0);
	width: 96%;
	margin: .75em 2%;
	box-sizing: border-box;
}

.menu{
	text-align: center;
	background-color: #000000;
	font-size:1em;
	width: 96%;
	color:rgb(255, 255, 255);
	margin: .75em 2%;
	padding:1em;
	box-sizing: border-box;
}

article{
	background-color: #000000;
	width: 96%;
	margin: .75em 2%;
	box-sizing: border-box;
	display:flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	align-content: left;
}

.full-row{
	background-color: #383838;
	width: 96%;
	margin: .75em 2%;
	margin-bottom: 20px;
	padding:1em;
	box-sizing: border-box;
}

.full-row-blog{
	background-color: rgb(56, 56, 56);
	width: 96%;
	margin: .75em 2%;
	margin-bottom: 20px;
	padding:1em;
	box-sizing: border-box;
	display:none;
}

.full-row-bottom{
	text-align: center;
	background-color: #000000;
	width: 96%;
	margin: .75em 2%;
	box-sizing: border-box;
}

.blog-header
{
	font-size:2em;
	color: #DDDBDB;
	font-family: 'Nunito', sans-serif;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 5px;

}

h1{
	font-size:2em;
	color: #BAB9B9;
	font-family: 'Nunito', sans-serif;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 0px;
}

h2{
	font-size:2em;
	color:rgb(255, 252, 252);
	font-family: 'Nunito', sans-serif;
	text-align: center;
}

h3{
	font-size:1.5em;
	color:rgb(255, 252, 252);
	font-family: 'Nunito', sans-serif;
	text-align: left;
	margin-left: 5px;
}

p{
	font-size:1em;
	color: #DDDBDB;
	font-family: 'Nunito', sans-serif;
	margin: 5px;
	padding: 5px;
	margin-left: 0px;
}

.block-quote{
	text-align:left;
	margin-right: 100px;
	margin-left: 100px;
}

a{
	text-decoration: none;
	font-size:1em;
	color: #FFE000;
	font-family: 'Nunito', sans-serif;
}


figure{
	max-width:100%;
	display:block;
}

figcaption{
	color:rgb(255,245,238);
	font-family: 'Nunito', sans-serif;
	font-style: italic;
	text-align: center;
	padding: 1em;
}

img{
	max-width:100%;
	display:block;
}

.centered-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}