body, html {
	height: 100%;
	margin: 0;
	font-size: 16px;

}

h1{
	font-family: 'Carrois Gothic SC', sans-serif;
	font-size: 8em;
	margin-bottom: 0px;
	color: black;
	margin-top: 0%;
}

h2{
	font-size: 1.8rem;
	font-weight: normal;
	font-family: 'Source Sans Pro', sans-serif;
	color: black;
	
}

h3{
	font-family: 'Merriweather', serif;
	font-size: 2rem;
	text-align: center;
	font-weight: normal;
	color: black;
}


h4{
	font-family: 'Merriweather', serif;
	font-size: 1.50rem;
	text-align: center;
	padding: 0px;
	padding-top: 1em;
	margin: 0px;
	color: black;
	display: block;
}

h5{
	font-family: 'Merriweather', serif;
	font-size: 1rem;
	text-align: left;
	margin-top: 1em;
	margin-bottom: .2em;
	margin-left: 0px;
	color: black;
}

p{
	font-family: 'Source Sans Pro', sans-serif;
	color: black;
	font-size: 1.1rem;
}

a.link  {
	font-weight: normal;
	color: red;
	text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	margin: 0px;
}

hr{
	border: 1.5px solid black;
}

.welcome-photo{
	content: url(DSC_0979_4.JPG);
	display:block;
	position: relative;
	width:100%; height:100%;
	object-fit: cover;

}

.learn-more {
	font-family: 'Barlow Condensed', sans-serif;
	min-width: 150px;
	font-size: 2rem;
	border: solid 4px;
	border-color: black;
	color: black;
	padding: 2rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: 0.3s;
}

.learn-more:hover, .learn-more:active {
	background-color: black;
	color: white;

}

.center-page{
	align-items: center;
	text-align: center;
	position: absolute;
	top: 15rem;
	left: 50%;
	width: 100%;
	max-height: 100%;
	transform: translate(-50%, -50%);

}

.about-text{
	margin-top: 0px;
	margin-bottom: 1px;
	display: block;
	vertical-align: top;
}

.about-section{
	padding-top: 1%;
	clear: both;
	display: block;
}

.gallery-photo{
	max-width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
}

.gallery-photo{
	display: block;
	text-align: center;
	width: 100%;
	max-width:650px;
}

.lazy 
{
	background: #F1F1FA;
	display: block;
	border: 0;
}

.credits{
	margin-top: 1em;
	margin-left: .5em;
}

.lyrics{
	margin-left: .6em;
	margin-top: 0px;
	margin-bottom: 0px;
}


.centered-text{
	text-align: center;
}

.menu-top {
	transition: background-color 1s ease;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0%;
	padding-top: 0px;
	padding-bottom: 10px;
	line-height: 50px;
}

.menu-top p, a {
	text-decoration: none;
	color: black;
	font-family: 'Merriweather', serif;
	text-align: center;
	font-size: 1.8rem;
	padding-top: 0px;
	margin-top: 1%;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
}


.menu-scroll {
	transition: background-color 1s ease;
	background-color: black;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0%;
	padding-top: 0px;
	padding-bottom: 10px;
	line-height: 50px;
}

.menu-scroll p {
	transition: background-color 1s ease;
	text-decoration: none;
	color: white;
	font-family: 'Merriweather', serif;
	text-align: center;
	font-size: 1.8rem;
	padding-top: 0px;
	margin-top: 1%;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
}

.menu-scroll a {

	text-decoration: none;
	color: white;
	font-family: 'Merriweather', serif;
	text-align: center;
	font-size: 1.8rem;
	margin-left: 10px;
	margin-right: 10px;
}

.scroll-div
{
	width: 96%;
	margin-bottom: 10em;
	padding:1em;
	box-sizing: border-box;
	width:100%;
	max-width:40em;
	margin-left:auto;
	margin-right:auto;
	color: white;
}


.header-photo
{
	content: url(DSC_0979_4_copy.JPG);
	width:100%; height:50%;
	object-fit: cover;

}

.about-photo{
	float: left;
	width:100%;
	max-width:250px;
	margin-right: 1em;
	margin-bottom: .25em;
}

.album-art{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	margin-top: 15px;
	max-width: 500px;
	width: 100%;
}

.listen-now:hover, .listen-now:active {
	background-color: black;
	color: white;

}

.center-button{
	text-align: center;
}

.listen-now {
	font-family: 'Barlow Condensed', sans-serif;
	min-width: 150px;
	font-size: 1.8rem;
	border: solid 4px;
	border-color: black;
	color: black;
	padding: 4%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: 0.3s;
}

.more-info
{
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	font-size: 1.2rem;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 20px;
}

.calender {
	margin-top: 50px;
	margin-right: 0px;
	margin-left: 0px;
	max-width: 50%;
}

.video-responsive{
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
	margin-top: 3em;
	margin-bottom: 3em;
}

.video-responsive iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}


.socials
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-row-gap: 10px;
	justify-content: space-around;
	justify-items: center;
}

.music-links
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-row-gap: 10px;
	justify-content: space-around;
	justify-items: center;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 2em;
	color: black;
}

.fa-facebook, .fa-instagram, .fa-twitter, .fa-youtube, .fa-soundcloud, .fa-spotify, .fa-google-play, .fa-bandcamp
{
	color: black;
	font-size: 50px;
	text-decoration: none;
}

.apple-music{
	max-width: 50px;
}


@media all and (max-width: 666px)
{
	html {
	height: 100%;
	margin: 0;
	font-size: 11px;

}

h1{
	
	font-size: 4em;
}

}



@media all and (max-width: 600px)
{
	.about-photo 
	{
		display: block;
		text-align: center;
		width: 100%;
		max-width:600px;
	}

	.about-section 
	{
		margin-top: 1em;
		clear: both;
	}
}



